body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    background-color:#ffdce2;
    color:#75555a;
    font-family:cursive;
    
}
h5{
    color: #c68490;
    font-family:fantasy;
}



form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #f4a5a5;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #ee8a8a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #90393a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8caca;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #e4616e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #862f38;
}